.App {
  text-align: center;
}

@font-face {
  font-family: Receipt;
  src: url("../public/Receipt.ttf");
}

.App-header {
  background-image: url("../public/crumpled.jpg");
  background-size: contain;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
  font-family: Receipt;
}

Button {
  font-family: Reciept;
}
